{% extends "index.html" %}
{% block index %}
<center>
<div class="text-center">
    <h1 class="display-4">Coordinador pagina</h1>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Universidad</th>
      <th scope="col">Facultad</th>
      <th scope="col">Correo</th>
      <th scope="col">Semestre</th>
      <th scope="col">Promedio</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
      <th scope="col">Líder</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td> <button type="submit" class="btn btn-primary my-1">Editar</button> </td>
      <td> <button type="submit" class="btn btn-primary my-1">Eliminar</button> </td>
      <td> <button type="submit" class="btn btn-primary my-1">Aceptar</button> </td>
    </tr>
  </tbody>
</table>
</center>
{% endblock %}