{% extends "index.html" %}
{% block index %}
<center>
<div class="text-center">
    <h1 class="display-4">Coordinador pagina</h1>
</div>
<h2>Tabla de usuarios</h2>
<br>
<input align="right" type="text" id="filtro" onkeyup="buscar()" placeholder="Filtro">
<table class="table" id="tabla">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Identificacion</th>
      <th scope="col">Universidad</th>
      <th scope="col">Facultad</th>
      <th scope="col">Correo</th>
      <th scope="col">Semestre</th>
      <th scope="col">Promedio</th>
      <th scope="col">Líder</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
      {% for u in uni %}
      <tr>
        <td>{{ u.user.first_name }}</td>
        <td>{{ u.user.last_name }}</td>
        <td>{{ u.identificacion }}</td>
        <td>{{ u.universidad }}</td>
        <td>{{ u.facultad }}</td>
        <td>{{ u.user.username }}</td>
        <td>{{ u.semestre }}</td>
        <td>{{ u.promedio }}</td>
        <td>{{ u.lider }}</td>
        <td><a href="{% url 'editarU' u.id %}">Editar</a> </td>
        <td><a href="{% url 'eliminar_usuario' %}"> <button type="submit" class="btn btn-primary my-1">Eliminar</button></a> </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<br>
<h2>Tabla de solicitudes</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Solicitud</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
      {% for l in lider %}
      <tr>
        <td>{{ l.user.first_name }}</td>
        <td>{{ l.user.last_name }}</td>
        <td>{{ l.solicitud }}</td>
        <td><a href="{% url 'eliminar_lider' l.id %}"> <button type="submit" class="btn btn-primary my-1">Eliminar</button></a> </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</center>
<script>
  function buscar(){
      let input, filter, table, tr, td, i, txtValue;

      input = document.getElementById("filtro");
      filter = input.value.toUpperCase();
      table = document.getElementById("tabla");
      tr = table.getElementsByTagName("tr");

      for(let i = 0; i < tr.length; i++){
          td = tr[i].getElementsByTagName("td")[1,5];
          if(td){
              txtValue = td.textContent || td.innerText;
              if(txtValue.toUpperCase().indexOf(filter)>-1){
                  tr[i].style.display = "";
              }
              else{
                  tr[i].style.display = "none";
              }
          }
      }
  }
</script>
{% endblock %}