{% extends "index.html" %}
{% block index %}
<div class="container py-5 h-100">
<div class="text-center">
    <h1 class="display-4">Grupos</h1>
</div>
{% for g in grupos %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.upb.edu.co/es/imagenes/img-escudo-lau-1464095147975.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'migrupo' g.user %}">{{ g.titulo }}</a></h5>
          <p class="card-text">{{ g.Descripcion }}</p>
          <p class="card-text"><small class="text-muted">{{ g.user.first_name }}</small></p>
          {% for u in uni %}
          {% if u.tipo_usuario == 'universitario' %}
          {% if user.username != request.user.username %}
          {% if user not in request.user.ver_grupos.following %}
          <button type="submit" class="btn btn-primary my-1"><a href="{% url 'follow' user %}">Unirme</a></button>
          {% else %}
          <button type="submit" class="btn btn-primary my-1"><a href="{% url 'unfollow' user %}">Dejar</a></button>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}