<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOCIAL_WEB2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SOCIAL_WEB.styles.css" asp-append-version="true" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SOCIAL_WEB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav navbar">
                        <li><a href="{% url 'perfil' %}">perfil</a></li>
                    </ul>
                    <ul class="navbar-nav navbar">
                        <li><a href="{% url 'login' %}">login</a></li>
                    </ul>
                    <ul class="navbar-nav navbar">
                        <li><a href="{% url 'registro' %}">registro</a></li>
                    </ul>
                    <ul class="navbar-nav navbar">
                        <li><a href="{% url 'feed' %}">feed</a></li>
                    </ul>
                    <ul class="navbar-nav navbar">
                        <li><a href="{% url 'coordinador' %}">coordinador</a></li>
                    </ul>
                    <ul class="navbar-nav navbar">
                        <li><a href="{% url 'form_propuestas' %}">form_propuestas</a></li>
                    </ul>
                    <ul class="navbar-nav navbar">
                        <li><a href="{% url 'grupo' %}">grupo</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block index %}
    <!-- Inicio Contenido de la pagina -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Fin contenido de la pagina -->

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SOCIAL_WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>