<div class="text-center">
    <h1 class="display-4">Perfil</h1>
</div>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-14">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre persona</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" id="Nombres" placeholder="Nombre">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Apellidos</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" id="Apellidos" placeholder="Apellidos">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Universidad</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" id="Universidad" placeholder="Universidad">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Facultad</p>
              </div>
              <div class="col-sm-9">
                <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                  <option>Ing Sistemas</option>
                  <option>Ing Industrial</option>
                  <option>Ing Mecanica</option>
                  <option>Ing Civil</option>
                  <option>Ing de Sancochos</option>
                </select>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Correo</p>
              </div>
              <div class="col-sm-9">
                <input type="email" class="form-control form-control-sm" id="Correo" placeholder="Email">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Contraseña</p>
              </div>
              <div class="col-sm-9">
                <input type="password" class="form-control form-control-sm" id="password" placeholder="Contraseña">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Semestre</p>
              </div>
              <div class="col-sm-9">
                <input type="number" class="form-control form-control-sm" id="Semestre" placeholder="Semestre">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Promedio Ponderado</p>
              </div>
              <div class="col-sm-9">
                <input type="number" class="form-control form-control-sm" id="Promedio" placeholder="Promedio">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">ID</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Identificacion</p>
              </div>
            </div>
          </div>
        </div>
         <button type="submit" class="btn btn-primary my-1">Guardar Cambios</button>
         <button type="submit" class="btn btn-primary pull-right my-1">Solicitar líder</button>
         <button type="submit" class="btn btn-primary pull-right my-1">Crear Grupo</button>
         <input type="text" />
         <button type="submit" class="btn btn-primary pull-right my-1">Envíar</button>
            </div>
            
    </div>
</div>
</section>