{% extends "index.html" %}
{% block index %}
<style>
  #mostrar{
    display: none;
  }
</style>
<div class="container py-5 h-100">
<div class="text-center">
    <h1 class="display-4">Perfil</h1>
</div>
<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.first_name }}</h5>
            {% for u in un %}
            <p class="text-muted mb-1" id="tipo">{{ u.tipo_usuario }}</p>
            {% endfor %}
          </div>
        </div>
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.username }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Universidad</p>
              </div>
              <div class="col-sm-9">
                {% for u, us in zipl %}
                <p class="text-muted mb-0">{{ u.universidad }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Facultad</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ u.facultad }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Semestre</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ u.semestre }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-10">
                <p class="mb-0"></p>
              </div>
              <div class="col-sm-2">
                <a href="{% url 'editar' u.id %}">Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
         <button type="submit" class="btn btn-primary my-1">Guardar Cambios</button>
         <button type="submit" class="btn btn-primary pull-right my-1">Solicitar líder</button>      
</section>
</div>
<!-- Button trigger modal -->
{% if u.lider == "1" %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Crear Grupo
</button>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          {{ form2.as_p }}
          <input class="btn btn-primary btn-lg" type="submit" value="Enviar" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% else %}
<h2>No eres un lider aun</h2>
{% endif %}
{% endfor %}
<div id="BotonSi">
  <h2>Eres un estudiante?</h2>
<button onclick="myFunction()" class="btn btn-primary">Si</button>
</div>
<br>
<div id="mostrar">
  <div>
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Haz click aqui
  </button> 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Formulario Para Universitarios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary btn-lg" type="submit" value="Enviar" />
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function myFunction() {
    var x = document.getElementById("mostrar");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function myFunction2() {
  var x = document.getElementById("BotonSi");
  if (x.style.display === "none") {
      x.style.display = "block";
  } else {
      x.style.display = "none";
  }
}
</script>
{% endblock %}